/* Estilos para el cuerpo de la página */
body {
  background-color: #f8f9fa; 
  color: #333; /* color del texto  */
  font-family: Arial, sans-serif; /* fuente  */
}

/* Estilos para la barra de navegación */
/* Estilos para la barra de navegación */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #343a40; /* Color de fondo */
  padding: 0.5rem 1rem; /* Espaciado interno */
}

.navbar-brand {
  font-size: 1.5rem; /* Tamaño de fuente del texto del enlace del logo */
}

.navbar-toggler {
  border: none; /* Quitar el borde del botón de la hamburguesa */
}

.nav-item {
  margin-left: 1rem; /* Espaciado entre elementos del menú */
}

.dropdown-item {
  color: #fff; /* Color de texto para elementos del menú desplegable */
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #6c757d; /* Color de fondo al pasar el cursor o enfocar */
}

.dropdown-menu {
  background-color: #343a40; /* Color de fondo del menú desplegable */
  border: none; /* Quitar el borde del menú desplegable */
}

.dropdown-menu a {
  color: #fff; /* Color de texto para elementos del menú desplegable */
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #6c757d; /* Color de fondo al pasar el cursor o enfocar */
}


/* Estilos para el contenedor de "Sobre mí" */
#sobre_mi {
  margin-top: 48px;
  background-color: #fff;
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.card {
  border: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
  text-align: justify;
}

#imagen-cara {
  max-width: 100%;
  margin-top: 20%;
}


@media (max-width: 992px) {
  #sobre_mi .row {
      flex-direction: column;
      align-items: center;
  }
  
  #sobre_mi .col-md-2,
  #sobre_mi .col-md-8 {
      margin: 0;
      padding: 0;
  }

  #sobre_mi .col-md-8 {
      order: 2;
      text-align: center;
  }
  
  #sobre_mi .card-body {
      padding: 20px;
  }
  
  #sobre_mi h5.card-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }
  
  #sobre_mi p.card-text {
      margin-bottom: 10px;
      text-align: justify;
      margin: 0 -70px; 
  }
  #imagen-cara {
      margin-top: 0;
  }
}

@media (max-width: 767px) {
  #sobre_mi p.card-text {
      margin: 0px; 
  }
}


/* proyectos */

#conteiner_proyectos{
  margin-top: 48px;
}

.card-img-top {
  max-height: 200px;  
  object-fit: cover;
}


.contact-section {
margin-top: 48px;
padding: 30px;
background-color: #f1f1f1;
}

.contact-section .logo {
margin-top: 0;
max-width: 250px;
height: auto;
}

.contact-section h5 {
font-size: 18px;
}

.contact-section p {
font-size: 14px;
margin-bottom: 5px;
}

.contact-section ul.social-media-list {
list-style: none;
padding: 0;
margin-top: 20px;
}

.contact-section ul.social-media-list li {
margin-bottom: 10px;
}

.contact-section ul.social-media-list li a {
text-decoration: none;
color: #333;
}

.contact-section ul.social-media-list li a:hover {
color: #000;
}

@media (max-width: 768px) {
.contact-section .col {
  flex-basis: 100%;
  max-width: 100%;
}

.contact-section {
  margin-top: 1rem;
}

.contact-section .row {
  gap: 3rem;
}
}